.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: none;
}

.header {
    text-align: start;
    background-color: aqua;
    color: white;
    padding: auto;
    margin: 0px;
}

.head {
    background-color: aqua;
    color: white;
    border: none;
    padding: 4px;
    font-size: 1rem;
}
.head:hover {
    background-color: cyan;
    border: 2px outset cyan;
}

.logo {
    padding: 1rem 2rem;
}

.item {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

button {
    color: black;
    border-radius: 8px;
    border: 2px solid #d3d3d3;
    padding: auto;
    width: auto;
    height: auto;
}

button:hover {
    border: 2px solid black;
}

table {
    background-color: transparent;
    padding: 1rem 3rem;
    width: 100%;
}

table tr {
    background-color: #d3d3d3;
}

table tr:hover {
    background-color: #949494;
}

table td,
table th {
    padding: 4px;
}

table td:hover,
table th:hover {
    border: 1px solid black;
}