{% extends "layout.html" %}

{% block body %}
    <form action="/add" method="post">
        <h2>Employee Information</h2>
        <div>
            <label>Enter Employee ID</label>
            <input autocomplete="off" autofocus required name="id">
        </div>
        <div>
            <label>Enter First Name</label>
            <input autocomplete="off" autofocus required name="first">
        </div>
        <div>
            <label>Enter Last Name</label>
            <input autocomplete="off" autofocus required name="last">
        </div>
        <button type="submit">Submit</button>
    </form>
{% endblock %}