{% extends "layout.html" %}

{% block body %}
    <form action="/add" method="get">
        <div class="item"><button type='submit'>Add Employees</button></div>
    </form>
    <form action="/generate" method="get">
        <div class="item"><button type='submit'>Make schedule</button></div>
    </form>
    <form action="/employees" method="get">
        <div class="item"><button type='submit'>Registered Employees</button></div>
    </form>
    <form action="/availiability" method="get">
        <div class="item"><button type='submit'>Update Availiabilities</button></div>
    </form>
{% endblock %}